.home-wrapper {
  height: 100vh;
}
.home-background {
  width: 100%;
  height: 100vh;
  background-image: image-url('home_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
}
.first-container {
  width: 100%;
  height: 70%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}


.second-container {
  background-color: #E3E3E3;
  position: absolute;
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}


.third-container {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}


.value-prop-container {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .child {
  flex-basis: 33%;
  }
}

.value-prop {
  width: 30%;
  text-align: center;
  h2 {
    font-weight: bold;
  }
  p {
    font-size: 20px;
    font-family: $headers-font;
  }
  img {
    margin-bottom: 20px;
  }
}

.value-prop-title {
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 120px;
}


.home-h1 {
  font-size: 100px;
  letter-spacing: 0;
  color: #FFFFFF;
  padding-top: 50px;
}
.search-form-home-page {
  padding-top: 50px;
  input {
    font-size: 20px;

    padding: 10px 40px;
    background-color: $white;
    margin-right: 20px;

    width: 310px;
    box-shadow: 0px 0px 20px $shadow-color;
    border-radius: 10px;
    border: none;
  }
  input:last-child {
    font-weight: 700;
    font-size: 20px;
    color: $white;

    padding: 10px 40px;
    background-color: $blue;

    width: 160px;
    box-shadow: 0px 0px 20px $shadow-color;
    border-radius: 10px;
    border: none;
  }
}
.resort-card-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media(max-width: 1281px){
  .home-h1 {
    font-size: 65px;
    padding-top: 10px;
  }
  .search-form-home-page {
    padding-top: 0;
    input {
      font-size: 15px;
      padding: 10px 20px;
      margin-right: 10px;
      width: 250px;
      border-radius: 5px;
    }
    input:last-child {
      font-size: 15px;
      padding: 5px 20px;
      width: 125px;
      border-radius: 10px;
      border-radius: 5px;
    }
  }
  .search-form-padding{
    padding-top:25px;
  }
  .value-prop-title {
    padding-top: 20px;
    font-size: 57px;
    margin-bottom: 100px;
  }
  .third-container {
    height: 105vh;
  }
}
