.home-background {
  width: 100%;
  height: 100vh;
  background-image: url(IMG_1986.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.my-container {
  width: 1200px;
  margin: 0 auto;
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
