.instructor-head{
  display: flex;
  direction: row;
  justify-content: space-between;
  padding: 64px 0px;
  width: 56%;
  margin: auto;
  align-items: center;
  .a{
    padding: auto 0px;
  }
}
.instructor-name {
  margin: 0;
}
.price-hour {
  font-size: 25px;
  margin: 0;
}
.rating {
  display:flex;
  font-size: 25px;
}
.rating-star{
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.name-block{
  display: flex;
  direction: row;
  div{
    padding-left: 32px;
  }
}
.instructor-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 56%;
  margin: auto;
  padding-top: 72px;
}
.container-font-size {
  p {
    font-size: 20px;
    margin-top: -10px;
  }
}
.font-size {
  font-size: 30px;
}
.instructor-description-header {
  font-size: 30px;
  text-align: center;
}
.instructor-description{
  padding-top: 48px;
  padding-bottom: 80px;
  p {
    font-size: 20px;
  }
}
.review-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}
.photo-area{
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  img{
    width: 208px;
    height: 208px;
    margin: 0px 12px;
    padding-bottom: 24px;
  }
}

.booking-btn {
  color: $white;
  font-size: 20px;

  padding: 13px 25px;
  background-color: $blue;
  box-shadow: 0px 0px 20px $shadow-color;
  border-radius: 10px;
}

.booking-btn:hover{
  transition: 0.3s;
  color: $blue !important;
  background-color: $white !important;
  border: 3px solid $blue !important;
}

@media(max-width: 1281px){
  .instructor-head{
    padding: 20px 0px;
    width: 60%;
    .a{
      padding: auto 0px;
    }
  }

  .instructor-name {
    font-size: 20px;
  }
  .price-hour {
    padding-top: 10px;
    font-size: 15px;
    margin: 0;
  }
  .rating {
    font-size: 20px;
  }
  .instructor-rating {
    padding-top: 5px;
    margin: 0;
    display:flex;
    font-size: 15px;
    img {
      margin-top: 3px;
    }
    .rating-star {
      height: 14px;
      width: 14px;
    }
  }
  .booking-btn {
    font-size: 15px;
    padding: 8px 16px;
    border-radius: 5px;
  }
  .instructor-body {
    width: 60%;
    padding-top: 35px;
  }
  .instructor-description {
    padding-top: 30px;
    padding-bottom: 40px;
    p {
      font-size: 18px;
    }
  }
  .photo-area{
    margin-top: 30px;
    img{
      width: 240px;
      height: 210px;
      margin: 0 20px 20px 0;
      padding: 0;
      object-fit: cover;
    }
    img:nth-child(3n) {
      margin: 0 0 20px 0;
    }
  }
  .font-size{
    font-size: 30px;
    margin: 0;
  }
}
.checkout-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 56%;
  margin: auto;
  padding-top: 72px;
}
