<div class="navbar navbar-expand-sm navbar-light navbar-lewagon blue-background navber-flex">
  <%= link_to root_path, class: "navbar-brand" do %>
    <p class="logo">skicoach</p>
  <% end %>

  <div class="booking-central-section">
      <p class="nav-element-booking-step">DATES</p>
      <p class="nav-element-booking-step">OVERVIEW</p>
      <p class="nav-element-booking-step">PAYMENT</p>
  </div>

</div>

