<div style="height:100vh;">
  <div class="home-background"></div>
  <%= render 'shared/navbar' %>
  <div class="my-container">

    <h1 class="home-h1">find the best ski instructor</h1>

      <%= render 'shared/search' %>

    <%= link_to "All instructors", users_path %>
  </div>
</div>


