<div class="home-wrapper">
  <div class="home-background" style="background-image: home_background.jpg"></div>
  <%= render 'shared/navbar' %>
  <div class="my-container">

    <h1 class="home-h1">find the best ski instructor</h1>

      <%= render 'shared/search' %>

    <%= link_to "All instructors", users_path %>
  </div>
</div>

<%= javascript_pack_tag 'blur_effect_home' %>
