.navbar-lewagon {
  justify-content: space-between;
  // background: white;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar {
  padding: 0;
}
.navigation-element {
  font-weight: 700;
  letter-spacing: 2px;
  color: $white;
  text-transform: uppercase;
  padding-right: 35px;
  font-size: 20px;
}
.nav-element-link {
  color: $white;
}
.nav-element-link:hover {
  color: $white;
  padding-bottom: 5px;
  border-bottom: 2px solid $white;
}
.nav-element-sign-up {
  text-transform: capitalize;
  color: $white;
}
.nav-element-sign-up:hover {
  color: $white;
}
.menu-avatar-inline {
  align-items: center;
}

// Styles for navbar on Index page
.navber-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.blue-background {
  background: $blue;
}

// Styles for navbar on Booking page

.booking-central-section {
  padding-left: 20%;
  display: flex;
}
.nav-element-booking-step {
  font-size: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 10px 50px;
  border-bottom: 6px solid rgba(255,255,255, .3);
}
.nav-element-booking-step:first-child {
 border-bottom: 6px solid rgba(255,255,255, 1);
}

@media(max-width: 1281px){
  .navigation-element {
    font-size: 15px;
    padding-right: 26px;
  }
  .booking-central-section {
    padding-left: 15%;
  }
  .nav-element-booking-step {
    font-size: 18px;
    padding: 10px 40px;
  }
  .nav-element-booking-step:first-child {
   border-bottom: 4px solid rgba(255,255,255, 1);
  }
}
