.white-btn {

}body {
  font-family: forma-djr-display, sans-serif;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
.logo {
  font-weight: 700;
  font-size: 50px;
  color: $white;
  text-transform: lowercase;
  padding-left: 40px;
  margin: 0;
}
a:hover {
  text-decoration: none;
}
.blue-btn {
  padding: 10px 40px;
  background-color: $blue;
  box-shadow: 0px 0px 20px $shadow-color;
  border-radius: 10px;
  border: none;
  color: white;
  height: 56px;
}
.box {
  background-color: $blue;
}
.input_form {
  padding: 10px 40px;
  background-color: $white;
  box-shadow: 0px 0px 20px $shadow-color;
  border-radius: 20px;
  border: none;
}
.white-btn {
  padding: 10px 40px;
  background-color: $white;
  box-shadow: 0px 0px 20px $shadow-color;
  border-radius: 10px;
  border: none;
  color: $blue;
}
.white-btn:hover {
  color: $blue;
}
.blue-font{
  color: $blue;
}
.instructor-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px $shadow-color;
  border-radius: 15px;
  margin: 0 80px 80px 0;
  img {
    height: 300px;
    width: 300px;
    border-radius: 15px 15px 0px 0px;
  }
}
.instructor-card:hover {
  box-shadow: 0px 0px 50px $shadow-color;
}
.instructor-info {
  display: flex;
  color: black;
}
.instructor-info {
  padding: 18px;
  display: flex;
  justify-content: space-between;
}
.review-card{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #00000026;
  border-radius: 20px;
  opacity: 1;
  width: 48%;
  margin-bottom: 40px;
  padding: 16px 24px;
  text-align: justify;
}
.review-info{
  display: flex;
  justify-content: space-between;
  font-size: 24px
}
.name-and-price {
  font-size: 30px;
  margin: 0;
}
.resort-and-price {
  font-size: 15px;
  margin: 0;
}
.rating {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin: 0;
  color: $blue;
  padding-top: 5px;
  img {
    width: 24px;
    height: 24px;
    padding-right: 8px;
  }
}
.instructor-info-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.empty-container {
  margin: 150px auto;
  width: 500px;
  justify-content: center;
}

.summary-description{
  padding-top: 48px;
  padding-bottom: 80px;
  text-align: center;
}

@media(max-width: 1281px){
  .blue-btn {
  height: 45px;
  border-radius: 5px;
  }
  .logo {
    font-size: 40px;
    padding-left: 35px;
  }
  .white-btn {
    padding: 10px 35px;
    background-color: $white;
    box-shadow: 0px 0px 20px $shadow-color;
    border-radius: 5px;
  }
  .instructor-card {
    flex-direction: column;
    box-shadow: 0px 0px 20px $shadow-color;
    border-radius: 15px;
    margin: 30px 0;
    img {
      height: 250px;
      width: 250px;
      border-radius: 10px 10px 0px 0px;
    }
  }
  .instructor-info {
    padding: 10px;
  }
  .rating {
    font-size: 14px;
    img {
      width: 15px;
      height: 15px;
      padding-right: 6px;
    }
  }
  .name-and-price {
    font-size: 20px;
  }
  .resort-and-price {
    font-size: 10px;
  }
}

.resort-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 20px $shadow-color;
  border-radius: 15px;
  margin: 0 80px 80px 0;
  height: 250px;
  width: 250px;
  background-size: cover;
  background-size: center;
}
.resort-name {
  font-size: 25px;
  color: $white;
}



.resort-card:hover {
  box-shadow: 0px 0px 50px $shadow-color;
}
.checkout-card{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #00000026;
  border-radius: 20px;
  opacity: 1;
  width: 64%;
  margin-bottom: 40px;
  padding: 16px 24px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  .background{
    height: 240px;
    border-radius: 20px;
    width: 90%;
    background-size: cover;
    margin: 0px auto;
    filter: brightness(100%);
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}
.checkout-background{
  background-image: url('https://source.unsplash.com/1600x900/?portrait,winter');
  height: 100% !important;
}
.cheeckout-heading{
  margin: 0px auto;
  text-align: center;
}
