body {
  font-family: forma-djr-display, sans-serif;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
.logo {
  font-weight: 700;
  font-size: 50px;
  color: $white;
  text-transform: lowercase;
  padding-left: 40px;
}
a:hover {
  text-decoration: none;
}
.blue-btn {
  padding: 10px 40px;
  background-color: $blue;
  box-shadow: 0px 0px 20px $shadow;
  border-radius: 20px;
}
